body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    /* background-color: rgb(197, 100, 100); */
    background-image: url(professional-photo-background-2560-x-1440-ppl55xis9ng9tde9.jpg);
}
.heading{
    color:rgb(0, 0, 0);
    font-size: xx-large;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main{
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    background-image: url(green-floral-background-at79zf2rwswi0rdc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.personal{
   color: rgb(31, 43, 19);
   background-color: rgb(196, 207, 132);
   border-radius: 30px;
   border: 2px solid black;
   margin-bottom:25px ;
   text-align: center;
   padding: 15px;
   font-size:40px;

}
.button{
    max-width: 100%;
    max-height: 80%;
    border-radius: 20px;
    background-color: rgb(226, 139, 139);
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;

    
}
.button:hover{
    color: rgb(202, 61, 61);
}

#uplode{
    color: white;
    font-size: 30px;
}
.input{
    color: white;
    font-size: 30px;
}
#email{
    border-radius: 15px;
    border: 2px solid black;
    
}
#name{
    border-radius: 15px;
    border: 2px solid black;
    
}
#phone{
    border-radius: 15px;
    border: 2px solid black;
    
}
#address{
    border-radius: 15px;
    border: 2px solid black;
    
}
.inputname{
    font-size: 30px;
    border-radius: 10px;
    max-width: 300px;
    align-items: center;

}
#skills{
    border-radius: 15px;
    border: 2px solid black;
}
#education{
    border-radius: 15px;
    border: 2px solid black;
}
#experience{
    border-radius: 15px;
    border: 2px solid black;
}

.forpic{
    color: rgb(50, 78, 44);
}
input[type="file"]{
    font-size: 16px;
    padding: 10px;
    width: 250px;
    background-color:rgb(175, 150, 97);
    border-radius: 30px;
    margin-top: 20px;
}
input[type="file"]::file.selector-button{
    background-color: rgb(250, 236, 38);
    cursor: pointer;
    font-size: large;
    color: rgb(233, 219, 219);
    border-color: rgb(46, 63, 34);
    border-radius: 30px;
}
form{
    margin-bottom: 40px;
}
input,textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 20px;
    background-color:rgb(202, 190, 190) ;
    border-width: 3px;
}
#resumeOutput{
max-width: 800px;
margin: 0 auto;
padding: 20px;
border-radius: 8px;
text-align: center;
border: 5px solid rgb(139, 60, 60);
color: rgb(71, 18, 18);
background-image: url(professional-photo-background-2560-x-1440-ppl55xis9ng9tde9.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}
h1{
    background-color: rgb(167, 70, 70);
    color:rgb(252, 195, 214) ;
    text-align: center;
    font-size: 50px;
}
h2 ,p{
    margin: 10px 0px;
}
h2{
    font-size: 35px;
    font-family: cursive;
}
p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
img{
    max-width: 150px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
@media (max-width:600px){
    body{
        margin: 10px;
    }
    form{
        padding: 15px;
        margin-bottom: 20px;
    }
    input,textarea{
        font-size: 14px;
        padding: 10px;
        
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 3em;
    }
    img{
        max-width: 100px;
    }
    input[type="submit"]{
        padding: auto;
    }
    #resumeOutput{
        padding: 15px;
        margin-bottom: 20px;
        margin-left: -3px;
        
    }
}